<!DOCTYPE html>
<html>
  <head>
    <title>Reto2</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
    <h1>Página inicial</h1>
    <button><h3>Registrar</h3></button>
    <button><h3>Contacto</h3></button>
    </header>
    <section class="container">
      <p>En MovieHub te mostramos las películas más populares y más apropiadas a tu gusto para que puedas tener una 
        colección adecuada para ti.
      </p>
      <section class="tarjetas">
        <h2>Películas recientes</h2>
        <div class="tarjeta">
          <h3>Título de la película</h3>
          <img src="https://picsum.photos/100/100" alt="Imagen de la película">
          <p>Descripción de la película</p>
        </div>
        <div class="tarjeta">
          <h3>Título de la película</h3>
          <img src="https://picsum.photos/100/100" alt="Imagen de la película">
          <p>Descripción de la película</p>
        </div>
        <div class="tarjeta">
          <h3>Título de la película</h3>
          <img src="https://picsum.photos/100/100" alt="Imagen de la película">
          <p>Descripción de la película</p>
        </div>

    </section>
  </body>
</html>
