<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/registro.css" />
</head>

<body>
    <%- include("partials/headerRegistro")%>
        <form method="POST">
            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit" onclick="window.location.href='/indexRegistrado'">Entrar</button>
            <a href="https://mail.google.com" target="_blank">Olvidaste la contraseña</a>
        </form>

        <%- include("partials/footer")%>
</body>

</html>