@import "theme.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: var(--primary-background);
    color: var(--primary-color);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--secondary-color);
    padding: 1rem 2rem;
    gap: 1rem;
}

header h1 {
    margin-right: auto;
    font-size: 1.8rem;
    color: #ffffff;
}


header a {
    color: #ffffff;
    text-decoration: none;
    background-color: #FF2E6F;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s ease;
}

header a:hover {
    background-color: #ff4a8e;
}

header button h3 {
    margin: 0;
    font-size: 1rem;
    color: #fff;
}

.container {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
}

.tarjetas {
    gap: 1.5rem;
}

.tarjetas h2 {
    font-size: 1.6rem;
    color: #FF2E6F;
}

.grid-tarjetas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 1.5rem;
}

.tarjeta {
    background-color: #242424;
    border-radius: 8px;
    padding: 1rem;
    gap: 1rem;
    transition: 0.3s;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "imagen titulo"
        "imagen descripcion";

    img {
        grid-area: imagen;
        width: 100%;
        object-fit: cover;
    }

    h3 {
        grid-area: titulo
    }

    p {
        grid-area: descripcion
    }
}

.tarjeta:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(255, 46, 111, 0.4);
}
